*{
    box-sizing: border-box;
    background-color: #1c1c1c;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.title{
    text-align: center;
}

.index__text{
    text-align: center;
}

.index__list{
    display: flex;
    flex-direction: column;
}


.index__list_item, a{
    color: #fff;
}
.index__list_item, done{
    color: rgb(49, 172, 189);
    font-size: 100%;
    margin: .7% auto;
    padding: 0 1%;
}
