@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

* {
   box-sizing: border-box;
}

body {
   padding: 0;
   margin: 0;
   background-color: #1c1c1c;
   font-family: 'Quicksand', sans-serif;
   line-height: 2;
   font-size: 20px;
   color: #fff;
}

.title {
   font-size: 40px;
   text-align: center;
}

.card__block {
   width: auto;
   height: auto;
   margin: 40px auto;
   padding: 50px;
   background-color: white;
   border-radius: 40px;
   box-shadow: 0 10px 100px #000;
   color: black;
   padding-bottom: 20px;
}

.card__photo {
   display: block;
   width: 200px;
   height: 200px;
   margin: 0 auto;
   border-radius: 50%;
   box-shadow: 0 0px 40px #000;
}

.card__title {
   font-size: 40px;
   text-align: center;
}

.card__text {
   font-size: 20px;
}


.card__subtitle {
   font-size: 25px;
   text-align: center;
}

.card__list {
   padding-left: 0;
   list-style-position: inside;
   font-size: 20px;
}


.card__link {
   color: #C8C8C8C8;
   text-decoration: none;
}

button {
   border-radius: 40px;
   background-color: #383838;
   color: white;
   border: none;
   height: 28px;
   width: 58px;
   display: block;
   margin: -17px auto;
}

.war {
   margin-top: 150px;
   text-align: center;
}

@media (min-width: 768px) {

   body {
      padding: 50px;
      margin: 0;
      font-family: 'Rubik', sans-serif;
      color: #000;
      background-color: #fff;
   }

   .hdr {
      display: flex;
      justify-content: space-between;
      padding: 0;
      padding: 0 50px;
   }

   .title {
      font-weight: 700;
      font-size: 5vw;
      margin: 0;
   }

   .title span {
      color: #EC5868;
   }

   .card__block {
      background-color: #fff;
      border-radius: 40px;
      box-shadow: none;
      color: rgb(0, 0, 0);
      padding-bottom: 0;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      margin-top: 0;
      padding-top: 15px;
   }

   .card__photo {
      display: none;
   }

   .card__title {
      font-weight: 600;
      font-size: 4vw;
   }

   .card__text {
      font-weight: 400;
      font-size: 2vw;
      line-height: 3vw;
      text-align: center;
   }

   .desc_1 {
      margin-top: 110px;
      display: flex;
      justify-content: space-around;

   }

   .card__learning,
   .card__contact,
   .card__portfolio {
      width: 33vw;
      height: 26vw;
      box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.2);
      border-radius: 26px;
      -webkit-border-radius: 26px;
      -moz-border-radius: 26px;
      -ms-border-radius: 26px;
      -o-border-radius: 26px;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      padding: 0;
      color: #000000;
      font-size: 2vw;
      line-height: 4vw;
   }

   .card__learning,
   .card__portfolio {
      margin-right: 5%;
   }

   .card__subtitle {
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      font-size: 2.5vw;

      color: rgb(0, 0, 0);
   }

   .card__list {
      font-weight: 400;
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 2vw;

   }


   .card__link {
      color: #EC5868;
      text-decoration: none;
   }

   button {
      background: #EC5868;
      border-radius: 50px;
      font-weight: 600;
      font-size: 1.5vw;
      line-height: 18px;
      color: #ffffff;
      margin: auto 0;
      width: 7vw;
      height: 3vw;
      text-align: center;
   }

   .war {
      margin-top: 150px;
      text-align: center;
   }

   #html {
      list-style: none;
   }

   .contact-text {
      font-weight: 400;
      text-align: center;
      line-height: 6vw;
      font-size: 2vw;

      color: #000000;
   }

   .card__portfolio-list {
      font-style: normal;
      font-weight: 400;
      text-align: center;
      list-style: none;
      font-size: 2vw;
      color: #000000;
   }
}