@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #1c1c1c;
    background-image: url();
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
    font-size: 20px;
    color: #fff;
}

.lol {
    font-size: 40px;
    text-align: center;
}

.card {
    width: auto;
    height: 1300px;
    margin: 40px auto;
    padding: 50px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 10px 100px #000;
    color: black;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0px 40px #000;
}

.card-title {
    font-size: 40px;
    text-align: center;
}

.card-text {
    font-size: 20px;
}

.card-subtitle {
    font-size: 25px;
    text-align: center;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 20px;
}

.link {
    color: #C8C8C8C8;
    text-decoration: none;
}

button {
    border-radius: 40px;
    background-color: #383838;
    color: white;
    border: none;
    height: 28px;
    width: 58px;
    display: block;
    margin: -17px auto;
}
.war{
  margin-top: 150px;
  text-align: center;
}
